{% extends 'layouts/main.html' %}
{% block title %}{{ actor.name }} | Actor{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ actor.name }}
		</h1>
		<p class="subtitle">
			ID: {{ actor.id }}
		</p>
		<p>
			<b>Age: </b> {{ actor.age }}
		</p>
		<p>
			<b>Gender: </b> {{ actor.gender }}
        </p>
		<div class="row">
			<img src="{{ actor.image_link }}" alt="Show Actor Image" />
		</div>
		<a href="/actors/{{ actor.id }}/edit"><button class="btn btn-primary btn-lg">Edit</button></a>
		<form>
    		<input type="submit" value="Delete Actor" class="btn btn-primary btn-lg" formmethod="post" formaction="{{ url_for('delete_actor', actor_id=actor.id) }}">
		</form>
	</div>
</div>
<section>
	<h2 class="monospace">Movies</h2>
	<div class="row">
		{%for movie in actor.movies %}
		<div class="col-sm-4">
			<img src="{{ movie.image_link }}" alt="Show Movie Image" />
			<h6>{{ movie.title }}</h6>
			<form>
				<input type="submit" value="Delete Movie" class="btn btn-primary btn-lg" formmethod="post" formaction="{{ url_for('delete_actor_movie', actor_id=actor.id, movie_id=movie.id) }}">
			</form>
		</div>
		{% endfor %}
	</div>
</section>
<form>
	<input type="submit" value="Add Movie" class="btn btn-primary btn-lg" formmethod="get" formaction="{{ url_for('add_movie_form', actor_id=actor.id) }}">
</form>

{% endblock %}

