{% extends 'layouts/main.html' %}
{% block title %}Add Movie{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Select Movies <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
        {% for movie in movies %}
            <input type="checkbox" id="{{ movie.title }}" name="movies" value="{{ movie.title }}"/>
            <label for="{{ movie.title }}"> {{ movie.title }}</label><br>
        {% endfor %}

	    <input type="submit" value="Add Movie" class="btn btn-primary btn-lg" formmethod="post" formaction="{{ url_for('add_movie_submission', actor_id=actor_id) }}">
    </form>
  </div>
{% endblock %}
